<ul class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'secure.index'}}Realms{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.index'}}{{model.realm.id}}{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.users'}}Users{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.users.edit'}}Edit{{/link-to}}</li>
</ul>
<h1 class='page-header'>Edit User {{model.username}}</h1>
<div class="row">
  <div class="col-lg-12">

    <form {{action 'save' on='submit'}} id="editUserForm" role='form' autocomplete='off' class="form-horizontal">
      <div class='basic-user-info section'>
        <h4><i class='fa fa-user'></i>Basic User Information</h4>
        <div class="row">
          <div class="col-sm-6">
            <div class='form-group'>
              <label class='control-label col-sm-4'>First Name</label>
              <div class="col-sm-8">
                {{focus-input id='firstname' value=model.firstname class='form-control' autocomplete='off'}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class='form-group'>
              <label class='control-label col-sm-4'>Last Name</label>
              <div class="col-sm-8">
                {{input id='lastname' value=model.lastname class='form-control' autocomplete='off'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class='form-group'>
              <label class='control-label col-sm-4'>Email</label>
              <div class="col-sm-8">
                {{input id='email' value=model.email class='form-control' autocomplete='off'}}
                {{#if emailMsg}}
                  <span class="form-control-feedback"><i class='fa fa-times'></i></span>
                  <small id='usernameMsg' class="text-danger">{{emailMsg}}</small>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class='form-group'>
              <label class='control-label col-sm-4'>Password</label>
              <div class="col-sm-8">
                {{input id='password' value=password type='password' class='form-control' autocomplete='off'}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class='form-group'>
              <label class='control-label col-sm-4'>Password Confirmation</label>
              <div class="col-sm-8">
                {{input id='password_confirm' value=password_confirm type='password' class='form-control' autocomplete='off'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox no-padding">
              <label>
                {{input type='checkbox' id='disabled' checked=disabled autocomplete='off'}}
                User Disabled
              </label>
            </div>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class='roles section'>
            <h4>
              <i class='fa fa-lock'></i>User Roles
            </h4>
            <ul class='list-group'>
              {{#each model.roleWrappers as |role|}}
                <li class='list-group-item'>
                  <label>
                    {{input type='checkbox' checked=role.selected autocomplete='off'}}
                    {{role.content}}
                  </label>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class='optional-info section'>
            <h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
            <div class="row">
              <div class="col-sm-12">
                <p>
                  You may enter optional custom information for the realm as a JSON document.
                </p>
              </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                {{textarea value=customText cols="80" rows="6" placeholder='Enter JSON Content' class='form-control'}}
              </div>
               <div class="col-sm-12">
                <label class='control-label'>JSON Valid:</label>
                {{#if customDocumentValid}}
                <i class='fa fa-check success'></i>
                {{else}}
                <i class='fa fa-times danger'></i>
                {{/if}}
                {{customDocumentValidMsg}}
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class='btn-bar pull-right page-controls'>
        <button id="cancel" class="btn btn-lg btn-default" {{action 'cancel'}}>Cancel</button>
        {{input id='submit' type='submit' value='Save' class='btn btn-lg btn-primary pull-right login-btn'}}
      </div>
    </form>

  </div>
</div>

