<ul class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'secure.index'}}Realms{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.index'}}{{model.name}}{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.users'}}Users{{/link-to}}</li>
</ul>
<h1 class='page-header'>{{model.id}} Users</h1>
<div class="row">
  <div class="col-lg-12">

    <table class="table table-striped">
      <thead>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Roles</th>
        <th></th>
      </thead>
      <tbody>
        {{#each model.users as |user|}}
          <tr>
            <td>
              <a {{action 'openUserInfoModal' user}}>{{user.username}}</a>
            </td>
            <td>{{user.fullname}}</td>
            <td>{{user.email}}</td>
            <td class='enabled'>
              <i class="fa {{if user.disabled 'fa-square-o' 'fa-check-square-o'}}"></i>
            </td>
            <td>
              {{list-join user.roles ', '}}
            </td>
            <td class='ops-row'>
              <a {{action 'openUserInfoModal' user}}>
                <i class='fa fa-info-circle'></i>
              </a>
              {{#link-to 'secure.realms.users.edit' user.id}}
                <i class='fa fa-edit'></i>
              {{/link-to}}
              <a {{action 'confirmDeleteUser' user}}>
                <i class='fa fa-times'></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>

<div class="modal fade info" id='userInfoModal'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>User Information</div>
      <div class='modal-body'>
        <div class="row">
          <div class="col-lg-12">
            <h4><i class='fa fa-user'></i>Basic User Information</h4>
            <div class='basic-user-info clearfix'>
              <div class="row">
                <label class='col-sm-3 col-md-2 control-label'>Username</label>
                <div class="col-sm-9 col-md-10">
                  {{selectedUser.username}}
                </div>
              </div>
              <div class="row">
                <label class='col-sm-3 col-md-2 control-label'>First Name</label>
                <div class="col-sm-9 col-md-10">
                  {{selectedUser.firstname}}
                </div>
              </div>
              <div class="row">
                <label class='col-sm-3 col-md-2 control-label'>Last Name</label>
                <div class="col-sm-9 col-md-10">
                  {{selectedUser.lastname}}
                </div>
              </div>
              <div class="row">
                <label class='col-sm-3 col-md-2 control-label'>Disabled</label>
                <div class="col-sm-9 col-md-10">
                  {{#if selectedUser.disabled}}
                    <span style='color:#0FD50F;font-weight:bold'>True</span>
                  {{else}}
                    <span style='color:red;font-weight:bold'>False</span>
                  {{/if}}
                </div>
              </div>
            </div>

            <h4><i class='fa fa-lock'></i>Roles</h4>
            <div id='permissions' class='permissions'>
              {{#if selectedUser.roles}}
                <div class='panel panel-info'>
                  <ul class='list-group'>
                    {{#each role in selectedUser.roles}}
                      <li class='list-group-item'>
                        {{role}}
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{else}}
                <div>There are no roles currently configured for the user.</div>
              {{/if}}
            </div>

            {{#if selectedUser.custom}}
              <h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
              <div class='optional-info'>
                {{json-highlight json=selectedUser.custom}}
              </div>
            {{/if}}

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class='btn-bar page-controls pull-right'>
          <a class="btn btn-default btn-lg pull-right login-btn" {{action 'closeUserInfoModal'}}>Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade danger" id='confirmDeleteUserModal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>Delete User</div>
      <div class='modal-body'>
        <p>Are you sure you want to delete {{selectedUser.fullname}}? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger btn-lg pull-right login-btn" {{action 'deleteUserConfirmed'}}>Yes, please delete</a>
        <a class="btn btn-default btn-lg pull-right login-btn" {{action 'cancelDeleteUser'}}>Cancel</a>
      </div>
    </div>
  </div>
</div>

