<ul class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'secure.index'}}Realms{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.index'}}{{model.name}}{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.edit'}}Edit{{/link-to}}</li>
</ul>

<h1 class='page-header'>{{model.id}}</h1>
<form {{action 'saveRealm' on='submit'}} role='form' autocomplete='off' class="form-horizontal">

  <div class="row">
    <div class="col-sm-6">
      <div class='basic-realm-info section'>
        <h4><i class='fa fa-cloud'></i>Basic Realm Information</h4>
        <div class="row">
          <label class='col-sm-3 control-label'>Description</label>
          <div class="col-sm-9 form-group">
            {{textarea placeholder='Enter a description' value=model.description
              class='form-control' autocomplete='off'}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
              <label>
                {{input type='checkbox' id='disabled' checked=model.disabled autocomplete='off'}}
                Disabled
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class='basic-realm-info section'>
        <h4><i class='fa fa-file-text'></i>Open Registrations</h4>
        <div class="row">
          <div class="col-sm-12">
             <div class="checkbox">
              <label>
                {{input type='checkbox' id='admin' checked=model.quick_user}}
                Allow public user registrations
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class='services section'>
        <h4><i class='fa fa-rocket'></i>Services</h4>
        <div class='services'>
          <ul class='list-group'>
            {{#each model.editedServiceWrappers as |wrapper|}}
              <li class='list-group-item service'>
                <label>
                  {{input type='checkbox' checked=wrapper.selected autocomplete='off'}}
                  <i class='fa {{wrapper.value.icon}}'></i>
                  {{wrapper.value.label}}
                </label>
                <small class='pull-right'>{{wrapper.value.description}}</small>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class='origins section'>
        <h4><i class='fa fa-globe'></i>Origins</h4>
        <ul class='list-group'>
          {{#each model.editedOriginWrappers as |wrapper|}}
            <li class='list-group-item'>
              {{input placeholder='URL' value=wrapper.value class='form-control'}}
              <a {{action 'removeOriginField' wrapper}}><i class="fa fa-minus-square"></i></a>
            </li>
          {{/each}}
          <li class='list-group-item origin-controls'>
            <a {{action 'addNewOriginField'}}><i class="fa fa-plus-square"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
       <div class='roles section'>
        <h4><i class='fa fa-lock'></i>Realm Roles</h4>
        <ul class='list-group'>
          {{#each model.roles as |role|}}
            <li class='list-group-item'>
              <strong>{{role.name}}</strong>
              <a {{action 'confirmDeleteRole' role}} class="pull-right text-danger">
                <i class="fa fa-times"></i>
              </a>
              <a {{action 'editRole' role}} class="pull-right">
                <i class="fa fa-edit"></i>
              </a>
              <ul>
                {{#each role.permissions as |permission|}}
                  <li>{{permission}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
          <li class='list-group-item origin-controls'>
            <a {{action 'addNewRole'}}>
              <i class="fa fa-plus-square"></i> Add New Role
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class='optional-info section'>
        <h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
        <div class="row">
          <div class="col-sm-12">
            <p>
              You may enter optional custom information for the realm as a JSON document.
            </p>
          </div>
          <div class="col-sm-12">
            <div>
              {{textarea value=model.editedCustomText cols="80" rows="6"
                placeholder='Enter JSON Content' class='form-control'}}
            </div>
            <div>
              <label class='control-label'>JSON Valid:</label>
              {{#if model.editedCustomTextValid}}
                <i class='fa fa-check success'></i>
              {{else}}
                <i class='fa fa-times danger'></i>
              {{/if}}
              {{model.editedCustomTextValidMsg}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="section">
        <h4>{{#link-to 'secure.realms.users'}}<i class='fa fa-users'></i>Users{{/link-to}}</h4>
        <div class="row">
          <div class="col-sm-12">
            {{#link-to 'secure.realms.users'}}
              <i class='fa fa-angle-double-right'></i>Click to view users for {{model.id}}
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='btn-bar pull-right'>
      <button id="cancel" class='btn btn-default' {{action 'cancel'}}>Cancel</button>
      {{input id='submit' type='submit' value='Save' class="btn btn-primary"}}
    </div>
  </div>

</form>

{{partial 'edit-role-modal'}}

{{partial 'delete-role-modal'}}