<ul class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'secure.index'}}Realms{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.index'}}{{model.id}}{{/link-to}}</li>
</ul>
<h1 class='page-header'>{{model.id}}
  <div class='btn-bar pull-right page-controls'>
    {{#link-to 'secure.realms.users.index' model.id class='btn btn-info btn-sm'}}
      List Users
      <i class="fa fa-users"></i>
    {{/link-to}}
    {{#link-to 'secure.realms.edit' class='btn btn-default btn-sm'}}
      Edit Realm
      <i class="fa fa-pencil"></i>
    {{/link-to}}
    <a class="btn btn-success btn-sm" {{action 'cloneRealmDialog'}}>
      Clone Realm
      <i class="fa fa-copy"></i>
    </a>
    <a class="btn btn-danger btn-sm" {{action 'confirmDeleteRealm'}}>
      Delete Realm
      <i class="fa fa-trash"></i>
    </a>
  </div>
</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="section">
      <h4><i class='fa fa-cloud'></i>Basic Realm Information</h4>
      <div class='basic-realm-info clearfix'>
        <div class="row">
          <label class='col-sm-3 col-md-2 control-label'>Description</label>
          <div class="col-sm-9 col-md-10">
            {{#if model.description }}
              {{model.description}}
            {{else}}
              <p>{{#link-to 'secure.realms.edit'}}Edit{{/link-to}} the realm to add a description</p>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <label class='col-sm-3 col-md-2 control-label'>Enabled</label>
          <div class="col-sm-9 col-md-10">
            {{#if model.disabled}}
              <span style='color:red;font-weight:bold'>False</span>
            {{else}}
              <span style='color:#0FD50F;font-weight:bold'>True</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <h4><i class='fa fa-rocket'></i>Services</h4>
      <div class='services'>
        {{#if model.services}}
          <ul class='list-group list-group-no-border'>
            {{#each model.selectedServiceWrappers as |wrapper|}}
              <li class='list-group-item service'>
                <label>
                  <i class="fa {{wrapper.icon}}"></i>
                  {{wrapper.label}}
                </label>
                <small class='pull-right'>{{wrapper.description}}</small>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <div>There are no services currently configured for <code>{{model.name}}</code>.</div>
        {{/if}}
      </div>
    </div>
    <div class="section">
       <h4><i class='fa fa-lock'></i>Roles</h4>
       <div class='roles'>
       <ul class='list-group list-group-no-border'>
         {{#each model.roles key="@identity" as |role|}}
           <li class="list-group-item">
             <label>{{role.name}}</label>
             <a {{action 'confirmDeleteRole' role}} class="pull-right text-danger">
               <i class="fa fa-times"></i>
             </a>
             <a {{action 'editRole' role}} class="pull-right">
               <i class="fa fa-edit"></i>
             </a>
             <ul>
               {{#each role.permissions key="@identity" as |permission|}}
                 <li>{{permission}}</li>
               {{/each}}
             </ul>
           </li>
           {{else}}
             <li class="list-group-item">
               There are no roles currently configured for <code>{{model.name}}</code>.
             </li>
         {{/each}}
         <li class='list-group-item origin-controls'>
           <a {{action 'addNewRole'}}>
             <i class="fa fa-plus-square"></i> Add New Role
           </a>
         </li>
       </ul>
       </div>
     </div>
  </div>
  <div class="col-sm-6">
    <div class="section">
      <h4>
        <i class='fa fa-file-text'></i>Open Registrations
        {{partial 'tooltip-open-registration'}}
      </h4>
      <div class='open-registrations'>
         <div class="row">
          <div class='col-sm-12'>
            Allow public user registrations:
            {{#if model.quick_user}}
              <span style='color:#0FD50F;font-weight:bold'>True</span>
            {{else}}
              <span style='color:red;font-weight:bold'>False</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <h4>
        <i class='fa fa-globe'></i>Origin Whitelist
        {{partial 'tooltip-origins'}}
      </h4>
      <div class='origins'>
        {{#if model.origins }}
          <ul class='list-group list-group-no-border'>
            {{#each model.origins key="@identity" as |origin|}}
              <li class="list-group-item">{{origin}}</li>
            {{/each}}
          </ul>
        {{else}}
          <div>There are no origins currently configured for <code>{{model.name}}</code>.</div>
        {{/if}}
      </div>
    </div>
    <div class="section">
      {{#if model.custom}}
        <h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
        <div class='optional-info'>
          {{json-document document=model.customJSON}}
        </div>
      {{/if}}
    </div>

    <div class="section">
      <h4>{{#link-to 'secure.realms.users'}}<i class='fa fa-users'></i>Users{{/link-to}}</h4>
      <div class="row">
        <div class="col-sm-12">
          {{#link-to 'secure.realms.users' model.id}}
            <i class='fa fa-angle-double-right'></i>Click to view users for <code>{{model.name}}</code>.
          {{/link-to}}
        </div>
      </div>
    </div>

  </div>
</div>

<hr/>

<h4><i class='fa fa-cube'></i>Resources</h4>

<div class="row">

  <div class="col-sm-6">

    {{#if model.hasDocumentsService}}
       <div class="section">
        <h4><i class='fa'>{}</i>Documents</h4>
        <div class="row">
            <select onchange={{action "loadResourceCollection" value="target.value"}}>
                {{#each model.collections as |collection|}}
                  <option value={{collection}}>
                    {{collection}}
                  </option>
                {{/each}}
            </select>
        </div>
         <br/>
         <br/>
           <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.documents as |doc|}}
                <li class="list-group-item">
                  {{doc._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' doc 'documents'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' doc 'documents'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' doc 'documents'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' doc 'documents'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No documents</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'documents'}}>New Document</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if model.hasEventHubService}}
      <div class="section">
        <h4><i class='fa fa-flash'></i>Event Hub</h4>
        <strong class="section-subtitle">Handlers</strong>
        <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.handlers as |handler|}}
                <li class="list-group-item">
                  {{handler._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' handler 'eventhub' 'handlers'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' handler 'eventhub' 'handlers'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' handler 'eventhub' 'handlers'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' handler 'eventhub' 'handlers'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No handlers</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'eventhub' 'handlers'}}>New Handler</a>
              </li>
            </ul>
          </div>
        </div>
        <strong class="section-subtitle">Recognizers</strong>
         <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.recognizers as |recognizer|}}
                <li class="list-group-item">
                  {{recognizer._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' recognizer 'eventhub' 'recognizers'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' recognizer 'eventhub' 'recognizers'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' recognizer 'eventhub' 'recognizers'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' handler 'eventhub' 'recognizers'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No recognizers</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'eventhub' 'recognizers'}}>New Recognizer</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if model.hasLocationService}}
      <div class="section">
        <h4><i class='fa fa-location-arrow'></i>Location</h4>
        <strong class="section-subtitle">Regions</strong>
        <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.regions as |region|}}
                <li class="list-group-item">
                  {{region._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' region 'location' 'regions'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' region 'location' 'regions'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' region 'location' 'regions'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' region 'location' 'regions'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No regions</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'location' 'regions'}}>New Region</a>
              </li>
            </ul>
          </div>
        </div>
        <strong class="section-subtitle">Points of Interest</strong>
         <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.pois as |poi|}}
                <li class="list-group-item">
                  {{poi._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' poi 'location' 'poi'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' poi 'location' 'poi'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' poi 'location' 'poi'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' poi 'location' 'poi'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No points of interest</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'location' 'poi'}}>New Point of Interest</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {{/if}}


  </div>
  <div class="col-sm-6">

    {{#if model.hasActionService}}
      <div class="section">
        <h4><i class='fa fa-paper-plane-o'></i>Actions</h4>
        <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.actions as |action|}}
                <li class="list-group-item">
                  {{action._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' action 'action' 'actions'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' action 'action' 'actions'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' action 'action' 'actions'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' action 'action' 'actions'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No actions</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'action' 'actions'}}>New Action</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if model.hasQueryService}}
      <div class="section">
        <h4><i class='fa fa-search'></i>Queries</h4>
        <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.queries as |query|}}
                <li class="list-group-item">
                  {{query._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' query 'query' 'queries'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' query 'query' 'queries'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' query 'query' 'queries'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' query 'query' 'queries'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No queries</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'query' 'queries'}}>New Query</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if model.hasMailboxService}}
      <div class="section">
        <h4><i class='fa fa-inbox'></i>Mailboxes</h4>
        <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.mailboxes as |mailbox|}}
                <li class="list-group-item">
                  {{mailbox._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' mailbox 'mailbox' 'mailboxes'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' mailbox 'mailbox' 'mailboxes'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' mailbox 'mailbox' 'mailboxes'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' mailbox 'mailbox' 'mailboxes'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No mailboxes</li>
              {{/each}}
              <li class="list-group-item" style="text-align: right">
                 <a class="btn btn-default login-btn" {{action 'createNewResource' 'mailbox' 'mailboxes'}}>New Query</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if model.hasStorageService}}
      <div class="section">
        <h4><i class='fa fa-database'></i>Storage</h4>
        <div class="row">
          <div class="col-sm-12">
            <ul class='list-group list-group-no-border'>
              {{#each model.blobs as |blob|}}
                <li class="list-group-item">
                  {{blob._id}}
                  <div class="resource-line-options">
                    <a {{action 'showResource' blob 'storage' 'blobs'}}><i class="fa fa-folder-open-o"></i></a>
                    <a {{action 'editResource' blob 'storage' 'blobs'}}><i class="fa fa-pencil"></i></a>
                    <a {{action 'deleteResource' blob 'storage' 'blobs'}}><i class="fa fa-remove"></i></a>
                    <a {{action 'showResourcePermissions' blob 'storage' 'blobs'}}><i class="fa fa-key"></i></a>
                  </div>
                </li>
              {{else}}
                <li class="list-group-item">No storage items</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if model.hasPushService}}
        <div class="section">
            <h4><i class='fa fa-database'></i>Cloud</h4>
            <div class="row">
                <div class="col-sm-12">
                    <ul class='list-group list-group-no-border'>
                      {{#each model.registrations as |registration|}}
                          <li class="list-group-item">
                            {{registration._id}}
                              <div class="resource-line-options">
                                  <a {{action 'showResource' registration 'push' 'registrations'}}><i class="fa fa-folder-open-o"></i></a>
                                  <a {{action 'editResource' registration 'push' 'registrations'}}><i class="fa fa-pencil"></i></a>
                                  <a {{action 'deleteResource' registration 'push' 'registrations'}}><i class="fa fa-remove"></i></a>
                              </div>
                          </li>
                      {{else}}
                          <li class="list-group-item">No cloud registration</li>
                      {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    {{/if}}

  </div>

</div>

{{partial 'edit-role-modal'}}

{{partial 'delete-role-modal'}}

{{partial 'clone-realm-modal'}}

{{partial 'delete-realm-modal'}}

{{#if showResourcePopup}}
  {{resource-popup resource=selectedResource service=serviceForResource onsave='onResourceSaved' onclose='onResourceClosed'
    editing=editingResource validate=validateResource path=selectedResourcePath isnew=isCreatingNewResource}}
{{/if}}

{{#if resourceToDelete}}
  {{confirmation-popup title='Delete Confirmation' text=confirmDeleteResourceText
    onconfirm='onConfirmDeleteResource' ondeny='onDenyDeleteResource'}}
{{/if}}

{{#if showResourcePermissions}}
  {{resource-permissions-popup resource=selectedResource service=serviceForResource toast=toast
    onclose='onCloseResourcePermissions' ownernames=accountUsernames path=selectedResourcePath}}
{{/if}}

