<ul class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'secure.index'}}Realms{{/link-to}}</li>
  <li>{{#link-to 'secure.realms.index'}}{{model.id}}{{/link-to}}</li>
</ul>
<h1 class='page-header'>{{model.id}} 
  <div class='btn-bar pull-right page-controls'>
    {{#link-to 'secure.realms.users.index' model.id class='btn btn-info btn-sm'}}
      List Users
      <i class="fa fa-users"></i>
    {{/link-to}}
    {{#link-to 'secure.realms.edit' class='btn btn-default btn-sm'}}
      Edit Realm
      <i class="fa fa-pencil"></i>
    {{/link-to}}
    <a class="btn btn-success btn-sm" {{action 'cloneRealmDialog'}}>
      Clone Realm
      <i class="fa fa-copy"></i>
    </a>
    <a class="btn btn-danger btn-sm" {{action 'confirmDeleteRealm'}}>
      Delete Realm
      <i class="fa fa-trash"></i>
    </a>
  </div>
</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="section">
      <h4><i class='fa fa-cloud'></i>Basic Realm Information</h4>
      <div class='basic-realm-info clearfix'>
        <div class="row">
          <label class='col-sm-3 col-md-2 control-label'>Description</label>
          <div class="col-sm-9 col-md-10">
            {{#if model.description }}
              {{model.description}}
            {{else}}
              <p>{{#link-to 'secure.realms.edit'}}Edit{{/link-to}} the realm to add a description</p>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <label class='col-sm-3 col-md-2 control-label'>Enabled</label>
          <div class="col-sm-9 col-md-10">
            {{#if model.disabled}}
              <span style='color:red;font-weight:bold'>False</span>
            {{else}}
              <span style='color:#0FD50F;font-weight:bold'>True</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="section">
      <h4>
        <i class='fa fa-file-text'></i>Open Registrations
        {{#tool-tip class="pull-right" tooltipContent="By default, users must be registered by an administrator. To allow public user registrations, enable this setting."}}
          <i class="fa fa-question"></i>
        {{/tool-tip}}
      </h4>
      <div class='open-registrations'>
         <div class="row">
          <div class='col-sm-12'>
            Allow public user registrations:
            {{#if model.quick_user}}
              <span style='color:#0FD50F;font-weight:bold'>True</span>
            {{else}}
              <span style='color:red;font-weight:bold'>False</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="section">
      <h4><i class='fa fa-rocket'></i>Services</h4>
      <div class='services'>
        {{#if model.services}}
          <ul class='list-group list-group-no-border'>
            {{#each model.selectedServiceWrappers as |wrapper|}}
              <li class='list-group-item service'>
                <label>
                  <i class="fa {{wrapper.icon}}"></i>
                  {{wrapper.label}}
                </label>
                <small class='pull-right'>{{wrapper.description}}</small>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <div>There are no services currently configured for <code>{{model.name}}</code>.</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="section">
      <h4>
        <i class='fa fa-globe'></i>Origin Whitelist
        {{#tool-tip class="pull-right" tooltipContent="You may restrict service access by overriding this with a whitelist of URL or IP addresses. An origin of '*' will allow clients from any IP or URL to access the realm services."}}
          <i class="fa fa-question"></i>
        {{/tool-tip}}
      </h4>
      <div class='origins'>
        {{#if model.origins }}
          <ul class='list-group list-group-no-border'>
            {{#each model.origins key="@identity" as |origin|}}
              <li class="list-group-item">{{origin}}</li>
            {{/each}}
          </ul>
        {{else}}
          <div>There are no origins currently configured for <code>{{model.name}}</code>.</div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="section">
      <h4><i class='fa fa-lock'></i>Roles</h4>
      <div class='roles'>
      <ul class='list-group list-group-no-border'>
        {{#each model.roles key="@identity" as |role|}}
          <li class="list-group-item">
            <label>{{role.name}}</label>
            <a {{action 'confirmDeleteRole' role}} class="pull-right text-danger">
              <i class="fa fa-times"></i>
            </a>
            <a {{action 'editRole' role}} class="pull-right">
              <i class="fa fa-edit"></i>
            </a>
            <ul>
              {{#each role.permissions key="@identity" as |permission|}}
                <li>{{permission}}</li>
              {{/each}}
            </ul>
          </li>
          {{else}}
            <li class="list-group-item">
              There are no roles currently configured for <code>{{model.name}}</code>.
            </li>
        {{/each}}
        <li class='list-group-item origin-controls'>
          <a {{action 'addNewRole'}}>
            <i class="fa fa-plus-square"></i> Add New Role
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="section">
      {{#if model.custom}}
        <h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
        <div class='optional-info'>
          {{json-highlight json=model.customJSON}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="section">
      <h4>{{#link-to 'secure.realms.users'}}<i class='fa fa-users'></i>Users{{/link-to}}</h4>
      <div class="row">
        <div class="col-sm-12">
          {{#link-to 'secure.realms.users' model.id}}
            <i class='fa fa-angle-double-right'></i>Click to view users for <code>{{model.name}}</code>.
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>

{{partial 'edit-role-modal'}}

{{partial 'delete-role-modal'}}