<h1 class='page-header'>{{model.id}} {{#link-to 'secure.realms.edit'}}<i class="fa fa-edit"></i>{{/link-to}}</h1>
<div class="row">
	<div class="col-lg-12">
		<h4><i class='fa fa-cloud'></i>Basic Realm Information</h4>
		<div class='basic-realm-info clearfix'>
			<div class="row">
				<label class='col-sm-3 col-md-2 control-label'>Description</label>
				<div class="col-sm-9 col-md-10">
					{{#if model.description }}
						{{model.description}}
					{{else}}
						<p>Edit the realm to add a description</p>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<label class='col-sm-3 col-md-2 control-label'>Disabled</label>
				<div class="col-sm-9 col-md-10">
					{{#if model.disabled}}
						<span style='color:#0FD50F;font-weight:bold'>True</span>
					{{else}}
						<span style='color:red;font-weight:bold'>False</span>
					{{/if}}
				</div>
			</div>
		</div>

		<h4><i class='fa fa-file-text'></i>Open Registrations</h4>
		<div class='open-registrations'>
			Allow public user registrations:
			{{#if model.quick_user}}
				<span style='color:#0FD50F;font-weight:bold'>On</span>
			{{else}}
				<span style='color:red;font-weight:bold'>Off</span>
			{{/if}}
		</div>
		<h4><i class='fa fa-rocket'></i>Services</h4>
		<div class='services'>
			{{#if model.services}}
				<table class="service-list table table-striped">
					<tbody>
						{{#each model.services key="@identity" as |service|}}
							<tr>
								<td>{{service}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				<div>There are no services currently configured for <code>{{id}}</code>.</div>
			{{/if}}
		</div>

		<h4><i class='fa fa-globe'></i>Origins</h4>
		<div class='origins'>
			{{#if model.origins }}
				<ul class='list-group'>
					{{#each model.origins key="@identity" as |origin|}}
						<li class="list-group-item">{{origin}}</li>
					{{/each}}
				</ul>
			{{else}}
				<div>There are no origins currently configured for <code>{{id}}</code>.</div>
			{{/if}}
		</div>

		<h4><i class='fa fa-lock'></i>Roles</h4>
		<div class='roles'>
			<ul class='list-group'>
				{{#each model.roles key="@identity" as |role|}}
					<li class="list-group-item">
						<label>{{role.name}}</label>
						<a {{action 'confirmDeleteRole' role}} class="pull-right text-danger">
							<i class="fa fa-times"></i>
						</a>
						<a {{action 'editRole' role}} class="pull-right">
							<i class="fa fa-edit"></i>
						</a>
						<ul>
							{{#each role.permissions key="@identity" as |permission|}}
								<li>{{permission}}</li>
							{{/each}}
						</ul>
					</li>
					{{else}}
						<li class="list-group-item">
							There are no roles currently configured for <code>{{id}}</code>.
						</li>
				{{/each}}
				<li class='list-group-item origin-controls'>
					<a {{action 'addNewRole'}}>
						<i class="fa fa-plus-square"></i> Add New Role
					</a>
				</li>
			</ul>
		</div>

		{{#if model.custom}}
			<h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
			<div class='optional-info'>
				{{json-highlight json=model.custom}}
			</div>
		{{/if}}


		<h4>{{#link-to 'secure.realms.users'}}<i class='fa fa-users'></i>Users{{/link-to}}</h4>
		{{#link-to 'secure.realms.users'}}
			<i class='fa fa-angle-double-right'></i>Click to view users for {{id}}
		{{/link-to}}

		<div class='btn-bar pull-right page-controls'>
			{{#link-to 'secure.realms.users.index' class='btn btn-info btn-sm'}}List Users{{/link-to}}
			{{#link-to 'secure.realms.edit' class='btn btn-default btn-sm'}}Edit Realm{{/link-to}}
			<a class="btn btn-success btn-sm" {{action 'cloneRealmDialog'}}>Clone Realm</a>
			<a class="btn btn-danger btn-sm" {{action 'confirmDeleteRealm'}}>Delete Realm</a>
		</div>
	</div>
</div>
