<div class="modal fade" id='cloneRealmModal'>
  <div class='modal-dialog'>
    <form {{action 'cloneRealm' on='submit'}} class='form-horizontal' autocomplete='off'>
      <div class='modal-content'>
        <div class='modal-header'>
          Clone Realm
          {{#if cloneRealmInProcess}}
            <div class="loading throbber-wrapper active" 
              style="display: inline-block; float: right !important; position: relative;top: 0;">
                <div class="throbber-loader">...</div>
            </div>
          {{/if}}
        </div>
        <div class='modal-body'>
          <p>Clone realm {{id}}.</p>
          {{#if cloneRealmMsg}}
            <small class='error msg'>
              {{cloneRealmMsg}}
            </small>
          {{/if}}
          <div class='form-group'>
            <label class='control-label col-sm-3'>New Realm Name</label>
            <div class='col-sm-9'>
              {{focus-input id='newCloneRealmName' placeholder='New Realm Name' 
                value=newCloneRealmName class='form-control'}}
            </div>
          </div>
          {{#if cloneRealmLog}}
            <div class="panel panel-info clone-realm-log">
              {{textarea readonly=true value=cloneRealmLog rows=4}}
            </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <div class='btn-bar pull-right'>
            <a class="btn btn-lg btn-default login-btn" {{action 'cancelCloneRealm'}}>Cancel</a>
            <a class="btn btn-lg btn-primary login-btn" {{action 'cloneRealm'}}>Clone Realm</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>