<div class="modal fade" id='editRoleModal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>{{#if editedRole.isNew}}Add New{{else}}Edit{{/if}} Role</div>
      <div class='modal-body'>
        <div class="row">
          <div class="col-xs-12">
            <form {{action 'saveRole' on='submit'}} id="editRoleForm" role='form' autocomplete='off'>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                  <label class='control-label'>Role Name</label>
                  {{#if editedRole.isNew}}
                    {{input placeholder='Role Name' value=editedRoleName class='form-control'}}
                  {{else}}
                    <span>{{editedRoleName}}</span>
                  {{/if}}
                </div>
                </div>
              </div>
              {{#each editedRolePermissionGroups as |permissionGroup|}}
                <div class="panel panel-default collapsible {{if permissionGroup.allPermissionsSelected 'all-selected'}}">
                  <div class="panel-heading" role="tab">
                    <a data-toggle="collapse" data-parent="#voyentPermissions" class='toggle'
                      onclick="$(this).closest('.panel').find('.collapse').collapse('toggle');$(this).find('i').toggleClass('hidden');">
                      <strong class="panel-title">
                        <i class='fa fa-caret-right hidden'></i>
                        <i class='fa fa-caret-down'></i>
                        {{permissionGroup.service}} Permissions
                      </strong>
                    </a>
                    <div class='btn-bar'>
                      <a {{action 'selectAllServicePermissionsForRole' permissionGroup.service}}
                        class='btn btn-sm btn-default select-all'>
                        <i class="fa fa-square-o"></i>
                      </a>
                      <a {{action 'deselectAllServicePermissionsForRole' permissionGroup.service}}
                        class='btn btn-sm btn-default deselect-all'>
                        <i class="fa fa-check-square-o"></i>
                      </a>
                    </div>
                  </div>
                  <div class='panel-collapse collapse in' role="tabpanel" >
                    <ul class='list-group'>
                      {{#each permissionGroup.permissions as |p|}}
                        <li class='list-group-item clearfix'>
                          <span class='checkbox'>
                            <label>
                              {{input type='checkbox' checked=p.selected}}
                              {{p.label}}
                            </label>
                          </span>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              {{/each}}
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class='btn-bar pull-right'>
          <a class="btn btn-lg btn-default login-btn" {{action 'cancelEditedRole'}}>Cancel</a>
          <a class="btn btn-lg btn-primary login-btn" {{action 'saveEditedRole'}}>Save</a>
        </div>
      </div>
    </div>
  </div>
</div>