<div class="row">

  <div class="col-6-sm section">
    <div class='basic-realm-info'>
      <h4><i class='fa fa-cloud'></i>Basic Realm Information</h4>
      <div class='form-group'>
        <label class='control-label'>Realm Name</label>
        {{focus-input id='name' placeholder='New Realm Name' value=model.name
            class='form-control' autocomplete='off'}}
      </div>
       <div class="checkbox">
        <label>
          {{input type='checkbox' id='disabled' checked=model.disabled autocomplete='off'}}
          Disabled
        </label>
      </div>
      <div class="checkbox">
        <label>
          {{input type='checkbox' id='createTestUsers' checked=model.createTestUsers autocomplete='off'}}
          Create Test Users
        </label>
      </div>
    </div>
  </div>

  <div class="col-6-sm section">
    <div class='basic-realm-info'>
      <h4><i class='fa fa-file-text'></i>Open Registrations</h4>
      <div class="checkbox">
        <label>
          {{input type='checkbox' id='admin' checked=model.quick_user}}
          Allow public user registrations
        </label>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-sm-6">
    <div class='services'>
      <h4><i class='fa fa-rocket'></i>Services</h4>
      <div class='panel services'>
        <div class="panel-heading">
          Select from the following services for the new realm
        </div>
        <ul class='list-group'>
          {{#each model.editedServiceWrappers key="@identity" as |wrapper|}}
            <li class='list-group-item service'>
              <label>
                {{input type='checkbox' checked=wrapper.selected autocomplete='off'}}
                <i class="fa {{wrapper.value.icon}}"></i>
                {{wrapper.value.label}}
              </label>
              <small class='pull-right'>{{wrapper.value.description}}</small>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class='roles'>
      <h4>
        <i class='fa fa-lock'></i>Realm Roles
      </h4>
      <div class="panel">
        <div class="panel-heading">
          Select from the following roles which will applied to all users in the realm (default roles).
        </div>
        <ul class='list-group'>
          {{#each editedRoleWrappers key="@identity" as |wrapper|}}
            <li class='list-group-item'>
              <strong>{{wrapper.value.name}}</strong>
              <a {{action 'confirmDeleteRole' wrapper.value}} class="pull-right text-danger">
                <i class="fa fa-times"></i>
              </a>
              <a {{action 'editRole' wrapper.value}} class="pull-right">
                <i class="fa fa-edit"></i>
              </a>
              <ul>
                {{#each wrapper.value.permissions key="@identity" as |permission|}}
                  <li>{{permission}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
          <li class='list-group-item origin-controls'>
            <a {{action 'addNewRole'}}>
              <i class="fa fa-plus-square"></i> Add New Role
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='origins'>
  <h4><i class='fa fa-globe'></i>Origins</h4>
  <div class='panel origins'>
    <div class="panel-heading">You may also add one or more origin URLs to the realm</div>
    <ul class='list-group'>
      {{#each model.editedOriginWrappers key="@identity" as |wrapper|}}
        <li class='list-group-item'>
          {{input placeholder='URL' value=wrapper.value class='form-control'}}
          <a {{action 'removeOriginField' wrapper.value}}><i class="fa fa-minus-square"></i></a>
        </li>
      {{/each}}
      <li class='list-group-item origin-controls'>
        <a {{action 'addNewOriginField'}}><i class="fa fa-plus-square"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class='optional-info'>
  <h4><i class='fa fa-ellipsis-h'></i>Optional Information</h4>
  <p>
    You may enter optional custom information for the realm as a JSON document.
  </p>
  <div class='form-group clearfix'>
    {{textarea value=model.customText cols="80" rows="6"
      placeholder='Enter JSON Content' class='form-control'}}
  </div>
  <div class='form-group'>
    <label class='control-label'>JSON Valid:</label>
    {{#if model.customTextValid}}
      <i class='fa fa-check success'></i>
    {{else}}
      <i class='fa fa-times danger'></i>
    {{/if}}
    {{model.customTextValidMsg}}
  </div>
</div>